doctype html
html(lang="en")
head
  include head.jade

body
  div.container
    div.header
      h3.text-muted
      
    div.jumbotron
      div.pull-right
        div#celsius=temperature
        div#date=date
        
      h1 Celsius

      p.lead How hot is my room?
      
    div.row
      div.col-lg-6

      div.col-lg-6 

    div.footer
      p &copy; 2014
      
